<!-- table -->


<!-- *ngFor   structural directive method - can apply for directly in html to access datas from array  -->

<!-- transaction history -->
<div class="text-dark container text-center mt-3 "><h2>Transaction History</h2></div>
<table class="table table-bordered container w-50 mt-3 ">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of transaction">
        <td>{{i.type}}</td>
        <td>{{i.amount}}</td>
      </tr>
      <!-- <tr>
        <th scope="row">2</th>
        <td>Debit</td>
        <td>1900</td>
      </tr> -->
    </tbody>
  </table>
  <div class=" text-center container mt-3"><a routerLink="/dashboard" style="text-decoration: none; color: black;">HOME PAGE</a></div>
