<div class="text-dark container text-center mt-3 "><h1>WELCOME {{user}}!!</h1></div>

<div class="ms-3 ">{{sDetails | date :'medium'}}</div>

<div class="class text-center container"><a routerLink="/transaction" style="text-decoration: none; color: azure;">View Transaction History</a></div>
<div [ngClass]="acnum?'style1':''" class="container w-50 mt-5" style="background-color: rgba(174, 217, 238, 0.5); border-radius: 15px;">
    <h1 class="text-center"> Deposit</h1>
     <form (ngSubmit)="deposit()" [formGroup]="depositForm">
            <div class="p-2 ">
                
                <input name="acnumber" type="text" placeholder="Enter your Account number" formControlName="acnum" id="acnoo" class="form-control">
            </div>
            <div *ngIf="this.depositForm.get('acnum')?.errors&&this.depositForm.get('acnum')?.touched" class="ms-3 text-danger">invaild account number</div>
            <div class="p-2 ">
                <input name="password" type="password" placeholder="Enter password" formControlName="pswrd" id="passss" class="form-control">
            </div>
            <div *ngIf="this.depositForm.get('pswrd')?.errors&&this.depositForm.get('pswrd')?.touched" class="ms-3 text-danger">invaild password</div>
            <div class="mt-3 p-2">
                <input name="amount" type="text" placeholder="Enter Amount" formControlName="amnt" id="amnt" class="form-control">
            </div>
            <div *ngIf="this.depositForm.get('amnt')?.errors&&this.depositForm.get('amnt')?.touched" class="ms-3 text-danger">invaild amount</div>
            <div class=" mt-3 p-2">
                <button type="submit" class="btn btn-success rounded-sm">Deposit</button>
            </div>
     </form>
</div>

<app-deleteconfirm (onCancel)="oncancel()" (onDelete)="onDelete($event)" [item]="acnum"></app-deleteconfirm>

<div [ngClass]="acnum?'style1':''" class="container w-50 mt-5" style="background-color: rgba(174, 217, 238, 0.5); border-radius: 15px;">
    <h1 class="text-center">Withdraw</h1>
     <form (ngSubmit)="withdraw()" [formGroup]="withdrawForm">
            <div class="p-2 ">
                
                <input name="acnumber1" type="text" placeholder="Enter your Account number" formControlName="acnum1" id="acnooo" class="form-control">
            </div>
            <div *ngIf="this.withdrawForm.get('acnum1')?.errors&&this.withdrawForm.get('acnum1')?.touched" class="ms-3 text-danger">invaild account number</div>
            <div class="p-2 ">
                <input name="password1" type="password" placeholder="Enter password" formControlName="pswrd1" id="passsss" class="form-control">
            </div>
            <div *ngIf="this.withdrawForm.get('pswrd1')?.errors&&this.withdrawForm.get('pswrd1')?.touched" class="ms-3 text-danger">invaild password</div>
            <div class="mt-3 p-2">
                <input name="amount1" type="text" placeholder="Enter Amount" formControlName="amnt1" id="amntt" class="form-control">
            </div>
            <div *ngIf="this.withdrawForm.get('amnt1')?.errors&&this.withdrawForm.get('amnt1')?.touched" class="ms-3 text-danger">invaild amount</div>
            <div class=" mt-3 p-2">
                <button type="submit" class="btn btn-success rounded-sm">Withdraw</button>
            </div>
     </form>
</div>
<div class="class text-center container mt-3">
    <button class="btn btn-success rounded-sm" (click)="logout()">LOGOUT</button>
    <button class="btn btn-danger rounded-sm  ms-3" (click)="deleteconfirm()" >DELETE</button>
</div>