<div class="text-dark container text-center mt-3 "><h1>WELCOME {{user}}!!</h1></div>
<div class="class text-center container mt-3"><a routerLink="/transaction" style="text-decoration: none; color: azure;">View Transaction History</a></div>
<div class="container w-50 mt-5" style="background-color: rgba(174, 217, 238, 0.5); border-radius: 15px;">
    <h1 class="text-center"> Deposit</h1>
     <form (ngSubmit)="deposit()">
            <div class="p-2 ">
                
                <input name="acnumber" type="text" placeholder="Enter your Account number" [(ngModel)]="acnum" id="acnoo" class="form-control">
            </div>
            <div class="p-2 ">
                
                <input name="password" type="password" placeholder="Enter password" [(ngModel)]="pswrd" id="passss" class="form-control">
            </div>
            <div class="mt-3 p-2">
                
                <input name="amount" type="text" placeholder="Enter Amount" [(ngModel)]="amnt" id="amnt" class="form-control">
            </div>
            <div class=" mt-3 p-2">
                <button type="submit" class="btn btn-success rounded-sm">Deposit</button>
            </div>
     </form>
</div>
<div class="container w-50 mt-5" style="background-color: rgba(174, 217, 238, 0.5); border-radius: 15px;">
    <h1 class="text-center">Withdraw</h1>
     <form (ngSubmit)="withdraw()">
            <div class="p-2 ">
                
                <input name="acnumber1" type="text" placeholder="Enter your Account number" [(ngModel)]="acnum1" id="acnooo" class="form-control">
            </div>
            <div class="p-2 ">
                
                <input name="password1" type="password" placeholder="Enter password" [(ngModel)]="pswrd1" id="passsss" class="form-control">
            </div>
            <div class="mt-3 p-2">
                
                <input name="amount1" type="text" placeholder="Enter Amount" [(ngModel)]="amnt1" id="amntt" class="form-control">
            </div>
            <div class=" mt-3 p-2">
                <button type="submit" class="btn btn-success rounded-sm">Withdraw</button>
            </div>
     </form>
</div>