/* You can add global styles to this file, and also import other style files */
body{
    /* background-color: aqua; */
    background-image: url(.//assets/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}